.Section-navBar{
    background-image: url('https://i.ibb.co/tBhsQY0/light.png');
    background-repeat: no-repeat;
    background-color: #32afff!important;
}
.BesoinIntro{ color: #fff;
    font-size: 26px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 12px;
    font-family: 'Comfortaa',monospace;

}
.intro{
    display: flex;
    width: 328px!important;
    top: 43%;
    padding: 21px;
    margin: auto;
    position: absolute;
    left: 40%;


}
.intoGeneral{
    padding-top: 13px;
    padding-bottom: 75px;
    position: relative;

}
.doc{
    width: 100px;
}
.chrono{
    position: relative;
    left: 39%;
    opacity: 10%;
}
.introParag{
    /* font-family: cursive; */
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
body{
    font-family: 'Comfortaa',monospace;
}
.boxIntro{
    padding-top: 104px;}

/* doctor */
.intoGeneralDoctor {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)),
     url(./medecin/Home_Header.jpg);
    background-position: 0px 0px, 0px 0px;
    background-size: cover;
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
}

.BesoinIntroDoctor{
    color: #000;
    font-size: 27px;
    text-align: start;
    font-weight: bold;
    /* margin-bottom: 12px; */
    font-family: 'Comfortaa',monospace;
    /* padding: 15%; */
    padding-top: 275px;
    margin-left: 5px;
    width: 80%;
}
.IntoDoctor{ 
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
 
    max-width: 847px;
    margin-right: auto;
    margin-left: auto;
}
.HeaderDotor{
    position: relative;
    z-index: 0;
    display: block;
    height: 100vh;
    max-height: 552px;
    min-height: 0px;
    background-color: transparent;
    background-image: none;
}
.dossierMedicalPatient{
    display: flex;
    justify-content: center;
}
#btnmedecin{
    margin: 0%!important;
    font-size: inherit;
    font-family: inherit;
    padding: 0px 7px 0px 8px;
    /* width: 100px; */
}
.Cinpatient{
    margin-right: 20px;
    font-family: Comfortaa;
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
}
.Title-Medecin{
    text-align: center;
    color: #079ce1;
    font-weight: bold;
    margin-bottom: 45px;
}
.patien-RDV{
    box-shadow: 0px 0px 11px 1px rgba(140,140,140,0.76);
}