.DoctorsList{
    margin: auto;
    width: 50%;
    margin-top: 80px;
    margin-bottom: 50px;
}

.doctorItem{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    text-align: left;
    padding-left: 250px;
    padding: 20px;
    margin: 30px;
    color:black;
    /* margin-top: 150px; */

    
}
.modal-body {
margin: auto!important;
}
.modal-footer {
    margin: auto!important;    
}
#buttonRDV{
    padding: 10px;
}
.NameChecked{
    display: flex;
    align-items: center;
}
#iconeCheked{
    margin-left: 10px;
    color: #05A31C !important;
    font-size: 18px;
}
.doctorCard{
    border: solid 0.4px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 10px;
    border-radius: 12px;
    /* width: 69%; */
    border-color: gray;
    padding: 0px 8px 0px 53px;
}
.specialit{
    color: blue;
}
.mail{
    color: #31bed5;
}
.img-doc{
    width: 20%;
}
#img-adress{
    width: 22px!important;
    height: 22px!important;
    /* margin-top: -10px!important; */
    border-radius: 49%!important;
    margin-right: 6px;
}

#imgDoc{
    width: 95px!important;
    height: 95px !important;
    border-radius: 100%!important;
}
.AdrresseDoc{
    display: flex;
}

