.MedicinService{
display: flex;
background-color: #efefefab;

}
#top-16{
    margin-top: 16px!important;
    font-size: 16px!important;
    line-height: 26px!important;
    font-weight: bold;

}
.row-Medcin{
    /* display: flex; */
    position: relative;
    padding-top: 20px;
    padding-bottom: 60px;
}
.fas {
    font-weight: bolder;
    color: #0596de;
    font-size: x-large;
}
.col-pad-20 {
    padding-right: 20px;
    padding-left: 20px;
}
.containerService{
    position: relative;
    margin: auto;
    z-index: 2;
    width: 95%;
    display: flex
}