.alert-dark{
    
        position: absolute!important;
        padding: 2.75rem 1.25rem!important;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        margin-top: 79px!important;
    
}